.TylerExp-img{
        background: url("../../images/The-Tyler-Experience.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin: 40px 0 0 0; */
    height: 30vh;
}