.header-container{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
header{
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    background: white;
    justify-content: space-between;
    align-items: center;
 /* -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.36); */
}
.logo-container{
    /* background: url("../../images/tyler-logo-header.png") */
}
.logo{
    height: 40px;
}
.login-register{
    display: flex;
}
.login-register h4{ 
    padding: 0 5px;
}
.hamburger{
    margin: 0 10px 0 0;

}
.fa-bars, .fa-times{
    font-size: 20px;
    color: #40528F;

}
.main-nav{
display: none;
}
.mobile-nav{
    background: #40528F;
    width: 100%;
    height: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
   transition: height 2s linear 1s;
}
.mobile-nav input{
    background: transparent;
    margin: 5px 0 0 0;
    border: none;
    border-bottom: solid 1px #8f9b49;
}
.mobile-nav input:active{
    
}
.mobile-nav-list{
    margin: 15px 0 0 0 ;
    color: white;
    text-align: center;
}
.mobile-nav-list li{
    padding: 10px 0;
}
.mobile-nav-list li:hover{
    color: #8f9b49;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.bars{
    display: none;
}
    header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: white;
 
}
.top-nav{
    display: flex;
    width: 100%;
    height: 50px;
    /* position: fixed; */
    background: white;
    justify-content: space-between;
    align-items: center;
}
.main-nav{
display: flex;
flex-direction: row;
width: 100%;

}
.main-nav-list{
    background:#40528F;
    z-index: 300;
width: 100%;
color: white;
display: flex;
flex-direction: row;
  justify-content: space-around;
}
.main-nav-list li{
    padding: 15px;
}
.main-nav-list li:hover{
    cursor: pointer;
    background: #fff;
    color: #40528F;
    padding: 15px;
}
} 

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {}